body {
	background-image: url(asset/images/bg-1.avif);
	background-repeat: no-repeat;
	background-size: cover;

	height: 100vh;

	font-family: "Mulish", sans-serif;
}

/* ------- Utility ------- */
.container {
	width: 90%;
	margin: auto;
	height: 100%;
}

.p1 {
	padding: 1rem;
}

.flex {
	display: flex;
}

.flex-vertical {
	flex-direction: column;
}

.gap-1 {
	gap: 1rem;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}
/* ------- Utility ------- */

.main-content {
	padding: 2rem 4rem;
	border-radius: 15px;
	color: #023047;
	background-color: hsl(32, 70%, 79%);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.heading {
	font-family: "Roboto Slab", serif;
}

.text-center {
	text-align: center;
}

.form {
	margin: 2rem 0;
}

/* ---- component ---- */
.form-field {
	border: none;
	padding: 0.5rem;
	border-radius: 5px;
}

.btn {
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	transition: all 400ms ease-in-out;
}

.btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}
/* ---- component ---- */

@media screen and (max-width: 600px) {
	.heading {
		font-size: 1.5rem;
	}
}
